/vendor
/.idea
/.vscode
/.vagrant
/composer.lock
.phpunit.result.cache
.box_dump
.editorconfig
expose-server.php
database/expose.db
.expose-server.php
.env
/storage/*

# client
client/node_modules
client/dist
client/yarn-error.log
client/dashboard/node_modules
client/src/dashboard/public